h1 {
	font-size: 1.5em;
	font-family: "Geneva";
}

h2 {
	font-family: "Geneva";
	font-size: 1.25em;
}

.title {
	align: center;
}

.mapInfo {

	padding: 50px;
	font-size: 1.25em;
	background-color: #1abc9c;
	
}

.mapinteract{
 
}

.rules {
	background-color: #bdc3c7;
	padding: 50px;
	font-size: 1.25em;
	color: black;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

li {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}


footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
}